@mixin containerProfile() {
  display: flex;
  background: #F9F9FE;
  border-radius: 8px;
  margin: 20px 100px;
  min-height: 83vh;
}

@mixin saveButton() {
  width: 100px;
  border-radius: 50px;
  background: #21268F
}