@import "../../../access/Scss/mixins";

.profile {
  @include containerProfile;
  //margin: auto;

  .profileData {
    width: 20%;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    background: #ECECF9;

    .sliderPack {
      display: flex;
      padding: 20px;

      .pack {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        width: 100px;
        color: #2D2E46;
        background: #FFFFFF;
        border-radius: 3px;
      }

      .active {
        background-color: #9A91C8;
        color: #FFFFFF;
      }
    }
  }

  .profileTable {

  }
}